<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<groups>
			<run>
				<include name="test" />
			</run>
		</groups>
		<classes>
			<class
				name="com.pro.testng_dataprovider.Data_Provider_for_Sendkeys" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
